<li>
    {{name}}
    <button class="change-status" data-id="{{id}}" data-status="{{devoured}}">
	    {{#if devoured}}Eat Burger!{{else}}Re-Order{{/if}}
	</button>
    <button class="remove-burger" data-id="{{id}}">
		Remove
	</button>
</li>