<li>
    {{name}}
    <button class="change-status" data-id="{{id}}" data-status="{{status}}">
	    {{#if devoured}}Re-Order{{else}}Devour{{/if}}
	</button>
    <button class="remove-burger" data-id="{{id}}">
		Remove
	</button>
</li>